{% macro author(post,site) %}

    {% if (post.author) %}
        {% set auth = post.author %}
    {% elif (site.defaultAuthor) %}
        {% set auth = site.defaultAuthor %}
    {% else %}
        {% set auth = "unknown" %}
    {% endif %}

    {% if ("unknown" == auth) %}
        <span>Unknown</span>
    {% else %}
        {% if (site.authors and site.authors[auth]) %}
            {% set authName = "Unknown" %}
            {% if (site.authors[auth].name) %}
                {% set authName = site.authors[auth].name %}
            {% endif %}
            {% set authUrl = false %}
            {% if (site.authors[auth].url) %}
                {% set authUrl = site.authors[auth].url %}
            {% endif %}
        {% endif %}

        {% if (false != authUrl) %}
            <a href="{{ authUrl | url('/', 'Author URL') }}" title="About this author.">
        {% endif %}
        <span class="p-author h-card vcard">
            <span class="p-name fn">{{ authName }}</span>
        <span>
        {% if (false != authUrl) %}
            </a>
        {% endif %}

    {% endif %}

{% endmacro %}

{% macro dt(post) %}

    <time class="dt-published" datetime="{{ post.date | isoDateTime }}">
        {{ post.date | displayDate }} {{ post.date | displayTime }}
    </time>

{% endmacro %}

{% macro dotags(post) %}

    {% if post.tags %}
        {% set ret = "" %}
        {% for tag in post.tags %}
            {% set tmp %}<a href="/tags/{{ tag | slugify }}/" title="See all posts with this tag.">{{ tag }}</a>{% endset %}
            {% if not loop.last %}{% set tmp = tmp + ', ' %}{% endif %}
            {% set ret = ret + tmp %}
        {% endfor %}
    {% endif %}

    <span class="tags">{{ ret }}</span>

{% endmacro %}

{% macro all(post,site) %}
    <div class="byline bigdot-separated">
        {{ author(post,site) }}
        <span class="bigdot"></span>
        {{ dt(post) }}
        {% if post.tags %}
            <span class="bigdot"></span>
            {{ dotags(post) }}
        {% endif %}
    </div>
{% endmacro %}