---
bodyClass: post
layout: includes/post-core.njk
computed:
    schema:
        article:
            "@type": "BlogPosting"
            "@id": "/#article"
            mainEntityOfpage: 
                "@id": "/#webpage"
            name: "{{title}}"
            headline: "{{headline or title}}"
            description: "{{description}}"
            author: 
                "@id": "/#author"
---
{% extends 'includes/post-core.njk' %}